.products-wrapper {
    position: relative;

    height: 100%;
    width: 98%;

    margin: 0 auto;
    padding: 0 2rem;

    .upper-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header {
            color: var(--text-color)
        }
        
        .show-more-btn {
            padding: .3rem 1rem;

            color: var(--text-color);
            font-size: var(--f-size-medium);
    
            background: rgba(0, 0, 0, 0.507);
            
            border: 1px solid transparent;
            border-radius: 25px;
    
            &:hover {
                color: var(--background-color);
    
                background: var(--text-color);
                border-color: var(--text-color);
            }
        }
    }


    .mySwiper {
        position: relative;
        padding: 1.5rem 0 4rem 0;
    }

    .swiper-slide {
        max-width: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .products-wrapper {
        width: 100%;
        padding: 0 1rem;
    }
    
}