.page {
    height: 100%;
    min-height: 92vh;

    display: flex;
    justify-content: center;
}

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;

    height: 100%;
    width: 100%;

    .loading-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 100px;
        width: 100px;

        fill: var(--text-color);

        animation: rotation 1s linear infinite;

        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}